*{margin:0;}
.image{
    width: 50%;
    float: left;

}
.image img,.work {
    margin: 20px 0;
    width: 95%;
}
.assignment{
    color: #683032;
    width: 50%;
    float: left;
}
.work{
    padding: 10px;
    background-image: url('../Assets/unnamed.png');
}
.work h2{
    padding-top: 5px;
    margin-bottom: 9px;
    text-align: center;
}
.work .img_with_text{
    height: 90px;
}
.work .img_with_text img
{
    float: left;
    margin-right: 5px;
}
.work div p{
    font-size: 11px;
    word-wrap: break-word;
}
.text_with_table p{
    width: 40%;
    float: left;
}
.table{
    right: 0;
}
table{
    font-size: 12px;
    height: 100px;
    border:3px outset #d1cfc5;

}
th, td {
    padding: 1px;
    border: 1px ridge grey;
}