*{margin:0;}
*{height: 100%;}
.container{
    width: 100%;
    height: 100%;
}
.content{
    height: 500px;
    width: 500px;
    background-image: url('../Assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}
.content p
{
    background-color: #f00;
}